body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-div {
  text-align: center;
  margin-top: 20vh;
}

.form {
  display: inline-block;
  background-color: pink;
  padding: 3vh;
  margin: auto;
  width: 44vh;
  padding: 10px;
  box-shadow: 0 4px 8px 0 darkslategrey;
  font-weight: bold;
}

.form-field {
  flex-direction: column !important;
}

.form input {
  width: 35vh !important;
  height: 3vh;
  margin-top: 1vh !important;
}

.button {
  margin-bottom: 1vh !important;
  margin-top: 1vh !important;
  background-color: #49fb35;
  font-weight: bold;
  width: auto !important
}

.button:last-child {
  width: 30vh !important;
}

.form input {
  border-style: solid;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vh !important;
  margin-top: 1vh !important;
}

.wish-div {
  width: 34vh;
  margin: auto;
  height: 29vh;
  background-color: white;
  margin-bottom: 2vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-style: solid;
}

.wish-div p {
  margin-left: 1vh;
  margin-bottom: 0vh;
  cursor: pointer;;
}
